*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#smaller-sec{
  height:65px ;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-left: 200px;
  padding-top: 13px;
  background-color:orange;
  display: flex;
  padding-right: 220px;
  position: fixed;
  z-index: 1;
}
.size{
  padding-top:  65px;
}
#down-links{
  display: flex;
  gap: 13px;
  font-size: 25px;
  list-style: none;
  margin-top: 5px;
}

.small-links{
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  padding: 0px 10px;
 color: black; 
 border-right: 1px solid white;
  
}

.black{
  color: black;
}

#title {
  list-style: none;
  padding-right: 30px;
}

#page{
  height: 20px;
  width: 20px;
}

.carousel-item{
  height: 550px;
  width: auto
}

#heading-cont{
  height: 70px;
  width: auto;
  color: beige;
  
}

#big-sec{
  background-color: orange; 
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#second-head{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 40px;
 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.arrange{
  margin-top: 70px;
  align-items: center;
}
#sentence{
  margin-top: 80px;
  font-size: 40px;
}
