* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#smaller-sec {
  height: 65px;
  width: 100%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-left: 200px;
  padding-top: 13px;
  background-color: #FDCF0B;
  display: flex;
  padding-right: 220px;
  position: fixed;
  z-index: 2;
}

.size {
  padding-top: 65px;
}

#down-links {
  display: flex;
  gap: 13px;
  font-size: 25px;
  list-style: none;
  margin-top: 5px;
}

.small-links {
  text-decoration: none;
  list-style: none;
  font-size: 25px;
  padding: 0px 10px;
  color: black;
  border-right: 1px solid white;

}

.black {
  color: black;
}

#title {
  list-style: none;
  padding-right: 30px;
}

#page {
  height: 20px;
  width: 20px;
}

.carousel-item {
  height: 550px;
  width: auto
}

#heading-cont {
  height: 70px;
  width: auto;
  color: beige;

}

#big-sec {
  background-color: #FDCF0B;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#second-head {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: 40px;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.arrange {
  margin-top: 70px;
  align-items: center;
}

#sentence {
  margin-top: 80px;
  font-size: 40px;
  font-weight: 500;
}

.cards{
  height: 280px;
  ;
}

#cut{
width: 100%;
 margin-left: 0.1px;
}
#kit{
  background-image: url(../img/fowls\ img.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

#context{
  background-image: url(../img/burg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#moth{
  background-image: url(../img/pork.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#list{
  background-image: url(../img/cows\ img.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.bigger{
  height: 590px;
  width: 100%;
  background-image: url(../img/cow\ butt.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.picture{
  padding-top: 10px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.473);
}

#heading-count {
  height: 170px;
  width: auto;
  color:black;
  
}

.create{
  margin-top: 70px;
  align-items: center;
  color: black;

}

#text{
  margin-top: 20px;
  font-size: 40px;
}

.posts{
 padding: 60px ;
 background-color: #FDCF0B;
}

#good{
  text-align: center;
}

.image{
  height: 200px;
 
 
}

.move{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.butt-cont{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.butt{
  padding: 8px 80px ;
  border-style: none;
  border-radius: 10px;
}

.card1{
  height: auto;
  width: 350px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

.card-text{
  font-size: 25px;
}

#size{
  background-color: #333333;
 height: 200px;
 width: 100%;
 padding-top: 40px;
}

.pictures{
  display: flex;
  gap: 20px;
}

.tags{
  display: flex;
  justify-content: space-evenly;
}
#space{
  margin-top: 10px;
}

#center{
  text-align: center;
  color: black;
}

#impact{
  display: flex;
  justify-content: space-evenly;
  color: black;
 margin-top: 50px;
}
#impact2{
  display: flex;
  justify-content: space-evenly;
  color: black;
 margin-top: 200px;
}

.country{
  text-align: center;
}

.design{
  font-weight: bolder;
  font-size: 40px;
}

.team{
  font-size:25px;
  color: rgba(10, 10, 10, 0.774);
}

.made{
 background-color: #FDCF0B;

}
.entity{
  font-size: 20px;
  font-weight: 900;
}